/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.float-hover {
    transition: box-shadow .3s;
}

.float-hover:hover {
box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

